body {
    font-family: "Lato", sans-serif;
    font-size: 1.125rem;
    color: #888;
    font-weight: 400;
    font-style: normal;
}

a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

button {
    cursor: pointer;
}

#form {
    text-align: center;
}

#form table {
    margin-left: auto;
    margin-right: auto;
}

#successMessages {
    color: #888;
}

#errorMessages {
    color: rgb(130, 0, 0);
}

#preformattedMessages {
    font-family: monospace;
    /* white-space: pre;*/
}

#copyButton {
    height: 30px;
    width: 35px;
    vertical-align: top;
}  
